--- special colors ---

URxvt*background: #101010
URxvt*foreground: #EBEBEB 

--- standard colors ---

! black
URxvt*color0: #252525

! bright_black
URxvt*color8: #555753

! red
URxvt*color1: #C97A7A

! bright_red
URxvt*color9: #FF5C66

! green
URxvt*color2: #4E9A06

! bright_green
URxvt*color10: #67F173

! yellow
URxvt*color3: #C4A000

! bright_yellow
URxvt*color11: #FCE94F

! blue
URxvt*color4: #3465A4

! bright_blue
URxvt*color12: #729FCF

! magenta
URxvt*color5: #75507B

! bright_magenta
URxvt*color13: #AD7FA8

! cyan
URxvt*color6: #06989A

! bright_cyan
URxvt*color14: #34E2E2

! white
URxvt*color7: #D3D7CF

! bright_white
URxvt*color15: #EEEEEC

!! urxvt
!! URxvt.font: xft:Gohu GohuFont:size=16,xft:Wuncon Siji:size=12
URxvt.font: xft:scientifica,xft:Wuncon Siji:size=12
URxvt.intensityStyles: false
URxvt.scrollBar: false
URxvt.loginShell: true
URxvt.internalBorder: 15
URxvt.letterSpace: 3

!! rofi
rofi.font: Gohu GohuFont 12
