* {
	background-color: #333;	
	text-color: white;
}

window {
	font: "lucy tewi 9";
	width: 20%;
	location: north;
	anchor: north;
	y-offset: 30%;
}

mainbox {
	padding: 16px;
	spacing: 8px;
}

inputbar {
	children: [ prompt, textbox-colon, entry ];
}

textbox-colon {
	expand: false;
	str: ":";
	margin: 0 1ch 0 0;
}

listview {
	fixed-height: false;
}

element {
	padding: 8px;
}

element selected {
	background-color: #888;
}

// vim:ft=css
